body, html {
  margin: 0;
}

.main-area {
  grid-area: main;
  background: url("/static/back.jpg");
  background-size: 476px 657px;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 476px auto;
  grid-template-rows: 657px;
  grid-template-areas: ". main .";
}

.book-head {
  grid-area: book-head;
}

.book-foot {
  grid-area: book-foot;
}

.book-filter {
  grid-area: book-filter;
  border-bottom: 1px solid #000;
}

.book-sort {
  padding-top: 5px;
  grid-area: book-sort;
  border-bottom: 1px solid #000;
}

.book-main {
  grid-area: book-main;
  height: 408px;
}

.book-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 363px auto;
  grid-template-rows: 68px 44px 40px auto 100px;
  grid-template-areas: "book-head book-head book-head"
    ". book-filter ."
    ". book-sort ."
    ". book-main ."
    "book-foot book-foot book-foot";
}
