.filer-option {
  padding: 5px;

  &.filer-border {
    border-right: 1px solid #000;
  }

  h1 {
    font-size: 10px;
    color: #111111;
    margin: 0;
  }
}
.filter-separator {
  background-color: #000;
}
.filter-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
